<div class="container">
  <div class="center-content">
    <h2>Change Password</h2>
    <form (ngSubmit)="changePassword()" class="password-form">
      <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword">
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
      </div>
      <br>
      <button type="submit">Change Password</button>
    </form><br>
    <h1>Or</h1><br>
    <h2>View Employees List</h2>
    <a routerLink="/employees" class="link">To view the list of employee details, click here.</a>
  </div>
</div>
